body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.hero, .footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 20px 90px;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.logo {
    font-size: 24px;
}

.right-links {
    display: flex;
    gap: 20px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.hero-left {
    flex: 1;
    flex-wrap: wrap;   
}

.hero-main-text {
   font-size: 48px;
   font-weight: 900;
   margin-bottom: -10px; 
}

.hero-secondary-text, .right-links {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-img {
    flex: 1;
    max-width: 400px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 90px;
    margin-bottom: 70px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.photo-grid {
    display: flex;
    gap: 36px;
    align-items: center;
    margin-top: 40px;
}

.img-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.info-img {
    border: 2px solid #3882F6;
    border-radius: 5px;
    max-width: 400px;
    max-height: 400px;
}

.info-text {
    font-size: 18px;
    color: #4d4c4c;
    text-align: center;
    margin-top: 5px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 20px 90px;
    background-color: #E5E7EB;
    align-items: center;
}

.quote {
    flex-wrap: wrap;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-top: 40px;
}

.citation {
    align-self: flex-end;
    font-weight: 700;
    margin-bottom: 40px;
    margin-right: 40px;
}

.call-section {
    padding: 80px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    gap: 140px;
    padding: 40px 100px;
    border-radius: 5px;
}

.call-header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.call-sub {
    font-size: 24px;
    color: #E5E7EB;
}

.call-container button {
    border: 2px solid #F9FAF8;
}

.footer-text {
    align-self: center;
}